.content{
    display: flex;
    justify-content: center;
}
.leftSection{
    /* background-color: red; */
}
.rightSection{
    /* background-color: blue; */
}

@media (max-width:600px) {
    html,body{
        height: 100%;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        /* background-color: red !important; */
    }
}